:root {
  --grey50: #f8f9fa;
  --grey100: #f3f4f5;
  --grey200: #e6e8ea;
  --grey300: #d3d6d9;
  --grey400: #b3b8be;
  --grey500: #8e959e;
  --grey600: #6e7781;
  --grey700: #5a6572;
  --grey800: #414b58;
  --grey900: #1e2023;

  --home-bg: #eff1f5;
  --primary-font-color: #21232c;
  --secondary-font-color: #0a0c10;

  --tag-background-color: #f8f9fa;
  --tag-border-color: #e6e8ea;
  --tag-text-color: #47bfbd;
}

/* 다크테마 */
[data-theme='dark'] {
  --home-bg: #0f141b;
  --primary-font-color: #f2f5f7;
  --secondary-font-color: #ffffff;
  --tag-background-color: #123248;
  --tag-border-color: #123248;
  --tag-text-color: #56d7d5;
}
